.outerContainer {
  display: flex;
  flex-direction: column;
  > .box1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    /* flex-wrap: wrap; */
    justify-content: center;
    padding: 0 20vw;
    /* height: 60vh; */
    margin: 4vh 0;
    /* flex: 1; */

    > div {
      width: 100%;
      display: flex;
      flex-direction: column;
      border: 2px solid black;
      border-radius: 10px;
      align-items: center;
      /* min-height: 50vh; */
      /* min-width: 20vw; */
      /* width: auto; */
      margin: 0 4vw;
      padding: 2vh 3vw;

      > h3 {
        font-size: 3vw;
      }
      > h5 {
        /* font-size: 1.1vw; */
        font-size: 1.4vw;
        font-weight: lighter;
      }
      > .renderIcon {
        font-size: 6vh;
      }
    }

    > .emailContainer {
    }
    > .addressContainer {
      > h5 {
      }
    }
    > .contactContainer {
    }
  }
  > .box2 {
    display: flex;
    flex-direction: column;
    /* align-self: center; */
    width: 70%;
    margin: 0 auto;
    margin-top: 5vh;

    form {
      color: white;
      /* background-color: rgb(33, 62, 112); */

      background-image: linear-gradient(
        to top,
        #181871,
        #101660,
        #0b144f,
        #08113e,
        #0a0a2e
      );
      display: flex;
      flex-wrap: wrap;
      /* justify-content: flex-end; */
      width: 100%;
      border-radius: 20px;

      > .row1,
      .row2 {
        display: flex;
        flex-direction: row;
        /* border: 2px solid white; */
        width: 100%;
      }

      .inpBox {
        display: flex;
        flex-direction: column;
        width: 100%;
        /* flex: 100%; */
        margin: 2.5vh 1.5vw;
        /* border:  2px solid black; */
        /* padding: 0 2vw; */

        > label {
          font-size: 2.1vh;
          margin-bottom: 1vh;
          font-weight: 600;
        }
        > input,
        select,
        textarea {
          /* height: 3vh; */
          font-size: 1.5vh;
          width: 100%;
          /* font-size: 1rem; */
          padding: 1vh;
          background-color: transparent;
          color: white;
          /* border-radius: 8px; */
          border: none;
          border-bottom: 1px solid rgb(131, 127, 127);
        }
        input:focus{
          outline: none;
        }
        option {
          background-color: #0a0a2e;
        }
        > textarea {
          font-size: 1.6vh;
          line-height: 2.2rem;
          word-spacing: 0.1rem;
          resize: none;
        }
      }
      > button {
        margin: 2.5vh 1.5vw;
        padding: 1.3vh 2.5vw;
        font-size: 1.8vh;
        border-radius: 8px;
        border: none;
        cursor: pointer;
        transition: 300ms;
      }
      > button:hover {
        background-color: rgb(160, 156, 156);
      }
    }
  }
}

.error {
  color: rgb(255, 0, 0);
  font-size: 1.7vh;
  margin-top: 0.2vh;
  /* display: none; */
}

@media all and (max-width: 720px) {
  .outerContainer {
    > .box1 {
      flex-wrap: wrap;
      > div {
        width: 100%;
        padding: 3vh 6vw;
        margin-bottom: 4vh;
        h3 {
          font-size: 6vw;
        }
        h5 {
          font-size: 3vw;
        }
      }
    }
    > .box2 {
      display: flex;
      form {
        /* padding: 2vh; */
        width: 100%;
        display: flex;
        /* flex-direction: row; */
        > .row1,
        .row2 {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          margin: 2vh 3vw;
        }

        .inpBox {
          display: flex;
          box-sizing: border-box;

          > input,
          select,
          textarea {
            display: flex;
            width: 100%;
          }
        }
      }
    }
  }
}
